body {
  background-color: #525252;
}

.App {
  background-color: #525252;
  width: 25%;
  max-width: 600px;
  margin: 1em auto;
  padding-bottom: 2em;
  border: 5px solid #27AE60;
  border-radius: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.musicCover {
  border-radius: 100%;
}

.playButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;

}

.subTitle {
  margin-top: -1em;
  color: #27AE60
}

.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #27AE60;
  font-size: smaller;
}

.timeline {
  width: 80%;
  background-color: #27ae60;
}

input[type="range"] {
  background-color: #27ae60
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 900px) {
  .App {
    width: 50%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}